@model OplataKUWebApp.Models.ClientViewModels.ClientEditViewModel;

@{

}
<div class="text-center">
    <h1 class="display-4">Форма редактированиz владельца квартиры</h1>
    <div asp-validation-summary="All" class="text-start alert alert-warning"> </div>

    <form method="post" action="/Client/Edit/" class="text-start">
        <input type="hidden" name="Id" value="@Model?.Client.Id" />
        <div class="mb-3">
            <label class="form-label">Фамилия</label>
            <input type="text" name="Lastname" value="@Model?.Client.Lastname" class="form-control" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Имя</label>
            <input type="text" name="Firstname" value="@Model?.Client.Firstname" class="form-control" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Отчество</label>
            <input type="text" name="Midname" value="@Model?.Client.Midname" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">E-mail</label>
            <input type="text" name="Email" value="@Model?.Client.Email" class="form-control" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input type="text" name="Password" class="form-control" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Id квартиры</label>
            <select name="ApartId" class="form-control">
                @foreach (var item in Model.PayInfo)
                {
                    <option value="@item.ApartId" selected="@(item.ApartId==Model?.Client?.ApartId)"> @item.ApartId</option>
                }
            </select>
        </div>

       @* <div class="mb-3">
            <label class="form-label">Улица</label>
            <input type="text" name="Street"   class="form-control"  />
        </div>

        <div class="mb-3">
            <label class="form-label">Номер дома</label>
            <input type="text" name="Housenumber"  class="form-control"  />
        </div>

        <div class="mb-3">
            <label class="form-label">Номер квартиры</label>
            <input type="text" name="Apartnumber"  class="form-control"  />
        </div>
 *@
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>